[submodule "lib/Core/Vulkan/dependencies/Vulkan-Docs"]
	path = lib/Core/Vulkan/dependencies/Vulkan-Docs
	url = https://github.com/KhronosGroup/Vulkan-Docs
[submodule "lib/Core/Vulkan/dependencies/VulkanMemoryAllocator"]
	path = lib/Core/Vulkan/dependencies/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
